<!-- Only display the user watchlist and logout buttons in the nav bar if the user is logged in -->
        {{#if logged_in}}
        <nav>
            <button type="submit" id="watchlist"></a>My Watchlist</button>
            <button type="submit" id="logout">Logout</button>
        </nav>
        {{else}}
        <nav>
           <button type="submit" id="loginbutton">Login</button>
           <button type= "submit" id="signupbutton">Sign Up</button>
        </nav>
        {{/if}}
