<!-- Only display the user watchlist and logout buttons in the nav bar if the user is logged in -->
{{#if logged_in}}
<nav class="mainnav">
    <ul class="menuItems">
        <li><a href="/" data-item='Home'>Home</a></li>
        <li><a href="/api/mylist" data-item='My Watchlist'>My Watchlist</a></li>
        <li><a href="/search" data-item='Search'>Search</a></li>
        <li><a href='#' id="logout" data-item='Logout'>Logout</a></li>
    </ul>
</nav>

{{else}}
<nav class="mainnav">
    <ul class="menuItems">
        <li><a href="/login" data-item='Login'>Login</a></li>
        <li><a href="/signup" data-item='Signup'>Signup</a></li>
    </ul>
</nav>
{{/if}}