<!-- Only display the user watchlist and logout buttons in the nav bar if the user is logged in -->
        {{#if logged_in}}
        <nav>
            <a href="/api/mylist"><button>My Watchlist</button></a>
            <a href="/search"><button>Search</button></a>
            <button id="logout">Logout</button></a>
        </nav>
        
        {{else}}
        <nav>
           <a href="/login"><button>Login</button></a>
           <a href="/signup"><button>Signup</button></a>
        </nav>
        {{/if}}

