
<form id="addreviewform">
                <label>What did you think of {{media.title}}?</label><br>
                <input type="text" id="addreview"><br>
                <button id="addreviewsubmit">Submit Review</button>
                </form>