
<form data-id={{this.id}} class="addreviewform">
                <label id="titlebox">What did you think of <br>
                    {{this.title}}?</label><br>
                <div id="flexbox">
                <input type="text" data-id={{this.id}} class="addreviewinput"><br>
                <button data-id={{this.id}} class="addreviewsubmit">Add Review</button>
                </div>
                </form>
      