
<form data-id={{this.id}} class="addreviewform">
                <label id="titlebox">What did you think of {{this.title}}?</label><br>
                <input type="text" data-id={{this.id}} class="addreviewinput"><br>
                <button data-id={{this.id}} class="addreviewsubmit">Add Review</button>
                </form>
      