<div id="searchheader">
    <h2>Search for a Movie or a TV Show to see all Streaming Options!</h2>
    <h3>Please Clear Results before Searching for New TV Show or Movie</h3>
</div>


<form id="form">
        <input id="userinput" type="text" autofocus="true" />
        <label for="movie">
            <input type="checkbox" id="moviecheck" name="movie" value="yes">    Movie
         </label>
        <label for="tvshow">
            <input type="checkbox" id="tvcheck" name="tvshow" value="yes">  TV Show
         </label><br>
    </form><br>
    <div id="errormessage"></div>
    <button id="searchbutton">Search</button>