<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where to Stream</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
</head>

<body>
{{{ body }}}


    <!--Only include the logout script if the user is logged in -->
    {{#if logged_in}}
    <script src="/js/search.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/watchlist.js"></script>
    {{else}}
    <script src="/js/homepage.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/signup.js"></script>
    {{/if}}
</body>

</html>
