<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where to Stream</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>
            Where to Stream
        </h1>
        {{>nav}}
    </header>
    <main>
        {{{ body }}}
    </main>

    <!-- Only include the logout script if the user is logged in -->
    {{#if logged_in}}
    <script src="/js/search.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/watchlist.js"></script>
    {{else}}
    <script src="/js/homepage.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/signup.js"></script>
    {{/if}}
</body>

</html>
