<h4 id="trendingheader">5 Movies Trending in the US this Week:</h4>
<div id="popularmovies"></div>
<br><br><br>
<h4 id="trendingheaderTV">5 TV Shows Trending in the US this Week:</h4>
<div id="populartv"></div>

<script src="/js/homepage.js"></script>