<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h4 class="trendingheader">5 Movies Trending in the US this Week:</h4>
<div id="popularmovies"></div>
<br><br><br>
<h4 class="trendingheader">5 TV Shows Trending in the US this Week:</h4>
<div id="populartv"></div>

<div class="fixed">
<button id="fixedbutton"><button class="button-os"><a href="/signup">Create your free account now!</a></button></button>
</div>

<script src="/js/homepage.js"></script>