
     <header>
        <img src="/images/logo2.png">
        {{>nav}}
     </header>

{{#if logged_in}}
<section id="mainsearch">
<div id="searchformbox">
{{>searchForm}}
</div>
<br><br>
<section id="resultsbox">
    <div>
    <p id="mediatitle"></p>
    <div id="imagebox"></div>
     <p id="rating"></p>
     <button id="addbutton" style="display:none">Add to Your Watchlist</button>
     </div>
     <section id="allsuboptions"> 
     <div id="suboptions">
        <h3 id="subheading"></h3>
        <h3 id="suberror"></h3>
    </div>
    <br>
    <div id="rentoptions">
        <h3 id="rentheading"></h3>
        <h3 id="renterror"></h3>
    </div>
    <div id="buyoptions">
        <br>
        <h3 id="buyheading"></h3>
        <h3 id="buyerror"></h3>
    </div>
    </section>
     </section>
    </section>

    {{>searchFooter}}
    <script src="/js/search.js"></script>
    {{/if}}
