
     <header>
        <img src="/images/logotext.png">
        {{>nav}}
     </header>

{{#if logged_in}}

{{>searchForm}}
    <p id="mediatitle"></p>
    <div id="imagebox"></div>
     <p id="rating"></p>
     <button id="addbutton" style="display:none">Add to Your Watchlist</button>
    <section id="resultsbox">
     <div id="suboptions">
        <h4 id="subheading"></h4>
        <h4 id="suberror"></h4>
    </div>
    <div id="rentoptions">
        <h4 id="rentheading"></h4>
        <h4 id="renterror"></h4>
    </div>
    <div id="buyoptions">
        <h4 id="buyheading"></h4>
        <h4 id="buyerror"></h4>
    </div>
    </section>

    {{>searchFooter}}
    <script src="/js/search.js"></script>
    {{/if}}
