
     <header id="mainheader">
        <img src="/images/logo.png">
        <div class="hidden"><p>Where to Stream is an application that allows users to input any movie or tv show and access links where the movie or show can be streamed online. </p></div>
        {{>nav}}
     </header>


<div>
    <h2>Create an Account</h2>
    <form class="form signup-form">
        <div>
            <label for="username-signup">Username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="email-signup">Email:</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button id="signupsubmit">Sign Up</button>
        </div>
    </form>
</div>


<script src="/js/signup.js"></script>