body {
  background-color: #6b6f70
}

/* CSS for main.handlebars, homepage.handlebars and nav.handlebars partial*/

header {
  font-family: 'Cardo', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


header img {
  display: block;
}


.mainnav {
  height: 50px;
}

.mainnav .menuItems {
  list-style: none;
  display: flex;
}

.mainnav .menuItems li {
  margin-right: 50px;
}

.mainnav .menuItems li a {
  text-decoration: none;
  color: black;
  font-family: 'Oswald', cursive;
  font-size: 30px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.mainnav .menuItems li a::before {
  content: attr(data-item);
  transition: 0.5s;
  color: yellow;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

.mainnav .menuItems li a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}


.trendingheader {
  text-align: center;
  font-family: 'Oswald', cursive;
  font-size: 30px;
}

#popularmovies {
  display: flex;
  justify-content: center;
}

#populartv {
  display: flex;
  justify-content: center;
}

.posterpic p {
  font-family: 'Cardo', Arial, Helvetica, sans-serif;
  color:white;
}

.posterpic img {
  border: 4px solid black;
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fixed button {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 8px #cfcfcf;
}

.fixed button:hover {
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 0 0 8px #f9f8fc;
}

#fixedbutton {
  position: relative;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 8px #d9d4e7;
  width: 200px;
  height: 65px;
  background-color: #d9d4e7;
  animation-duration: 5s;
}

.fixed .button-os {
  position: absolute;
  width: 200px;
  height: 65px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #f9f8fc;
  border: 2.5px solid #0e172c;
  transition: background-color 2.2s;
  transition-duration: 3s;
  transition: 1.5s;
}

.fixed .button-os:hover {
  position: absolute;
  top: 30px;
  background-color: yellow;
}

.fixed .button-os a {
  font-family: 'Oswald', cursive;
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: #0e172c;
  transition: 1.5s;
}

.fixed.button-os a:hover {
  letter-spacing: 5px;
}



/* CSS for watchlist.handlebars*/

#watchheader {
  align-self: center;
}


#mainbox {
  display: flex;
}

#watchaside {
  width: 15%;
}


.watchnav .menuItems {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.watchnav .menuItems li {
  margin-bottom: 15px;
}

.watchnav .menuItems li a {
  text-decoration: none;
  color: black;
  font-family: 'Oswald', cursive;
  font-size: 30px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.watchnav .menuItems li a::before {
  content: attr(data-item);
  transition: 0.5s;
  color: yellow;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

.watchnav .menuItems li a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}


#watchlist {
  width: 85%;
}

.greeting {
  color:black;
  font-family: 'Oswald', cursive;
  font-size: 40px;
  text-align: center;
}

#mediacontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.eachmedia {
  display:flex;
  justify-content: center;
  box-sizing:border-box;
  border:1px solid black;
  width: 50%;
  font-family: 'Cardo', Arial, Helvetica, sans-serif;
  font-size:20px;
  color:black;
}

.mediainfobox {
  display: flex;
  align-items: center;
}


#title{
color:white;
font-weight:400px;}

.getmediainfo{display:inline;}


.mediabasic img {
  border: solid 5px black;
}


.reviewbox input {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 10px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.addreviewsubmit,.editsubmit, .deletereview, .editreview{
  font-family: 'Cardo', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight:bold;
  border: solid 2px black;
  outline: 0;
  background-color: white;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}


.infobutton {
  background-color: white;
  font-family: 'Cardo', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight:bold;
  border: solid 2px black;
  border-radius: 50px;
  outline: 0;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.infobutton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  z-index: -1;
  border-radius: 50px;
  border: solid 2px rgb(136, 117, 117);
  transition: all 0.3s ease-in-out;
}

.infobutton::after {
  width: 90%;
  height: 90%;
}

.infobutton:hover::after {
  width: 100%;
  height: 100%;
  top: 0.5rem;
  left: 0.5rem;
}

.deletebutton {
  background-color: white;
  font-family: 'Cardo', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight:bold;
  border: solid 2px black;
  outline: 0;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.deletebutton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  z-index: -1;
  border-radius: 50px;
  border: solid 2px rgb(136, 117, 117);
  transition: all 0.3s ease-in-out;
}

.deletebutton::after {
  width: 90%;
  height: 90%;
}

.deletebutton:hover::after {
  width: 100%;
  height: 100%;
  top: 0.5rem;
  left: 0.5rem;
}

#titlebox {font-weight:bold;}


/* CSS for stream.handlebars*/

#streamgreeting{color:yellow;
  font-size:30px;
text-align: center;
font-family: 'Oswald', cursive;}

#streamsection{
  width:100%;
  display:flex;
}

#linktitle{
  font-size:24px;
}
#linkscontainer {padding-top:80px;
font-family: 'Cardo', Arial, Helvetica, sans-serif;
font-size:18px;}

#streamlist {
word-wrap: break-word;}

#streamlist li {
  list-style-image: url(/images/star.png)
}

#streamlist li a {
  font-family: 'Cardo', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
}

#mediachosen {width:30%;
  font-family: 'Cardo', Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;}

#mediachosen img{border:3px solid black;}

#mediatitle{font-family: 'Cardo', Arial, Helvetica, sans-serif;
font-size:30px;
color:white;}

#rating{font-size:18px;}

.fixedstream {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fixedstream button {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 8px #cfcfcf;
}

.fixedstream button:hover {
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 0 0 8px #f9f8fc;
}

#fixedSbutton {
  position: relative;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 8px #d9d4e7;
  width: 200px;
  height: 65px;
  background-color: #d9d4e7;
  animation-duration: 5s;
}

.fixedstream .button-s {
  position: absolute;
  width: 200px;
  height: 65px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #f9f8fc;
  border: 2.5px solid #0e172c;
  transition: background-color 2.2s;
  transition-duration: 3s;
  transition: 1.5s;
}

.fixedstream .button-s:hover {
  position: absolute;
  top: 30px;
  background-color: yellow;
}

.fixedstream .button-s a{
  font-family: 'Oswald', cursive;
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: #0e172c;
  transition: 1.5s;
}

.fixedstream.button-s a:hover {
  letter-spacing: 5px;
}


/* CSS for login.handlebars and signup.handlebars*/

#signupheader {
  font-family:'Cardo', Arial, Helvetica, sans-serif;
}

#loginheader{font-family:'Cardo', Arial, Helvetica, sans-serif;
}

.text {text-align:center}
/* The Modal (background) */
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #6b6f70;
  background-color: #6b6f70; 
}

 /*Modal Content Box */
.container {
  font-family:'Cardo', Arial, Helvetica, sans-serif;
  font-size:16px;
  background-color: transparent;
  margin: 8% auto; /* 15% from the top and centered */
  border: 2px solid black;
  width:70%;
  height:70%;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.inputs h2{
  font-family: 'Oswald', cursive;
  font-size:30px;
}

.brand-logo {
  height: 200px;
  width: 200px;
  /*background: url("/images/logo2.ico");*/
  margin: auto;
  border-radius: 50%;
  border:2px solid black;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-logo img{
  position:absolute;
  bottom:330px;
  left:670px;
}



.inputs {
  text-align: left;
  margin-top: 30px;
}

.inputs label, .inputs input {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}



label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

.inputs input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

#modal-login-button, #modal-signup-button{
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: black;
  margin-top: 20px;
  background: #fec7d7;
  font-family: 'Oswald', cursive;
  font-size:26px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

#modal-login-button {
  box-shadow: none;
}

#modal-signup-button {
  box-shadow: none;
}

.footermodal a {color:black;}


/* CSS for search.handlebars*/

#searchform{
  font-family:'Cardo', Arial, Helvetica, sans-serif;
  font-size:20px;
  font-weight:bold;
}

#searchheader h1{
  font-size:30px;
  color:white;
}

#searchheader h4{
  font-size:20px;
  font-weight:200px;
}
.fixedclear {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fixedclear button {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 8px #cfcfcf;
}

.fixedclear button:hover {
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 0 0 8px #f9f8fc;
}

#clearbutton {
  font-family:'Cardo', Arial, Helvetica, sans-serif;
  position: relative;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 8px #d9d4e7;
  width: 200px;
  height: 65px;
  background-color: #d9d4e7;
  animation-duration: 5s;
}

.fixedclear .button-c {
  position: absolute;
  width: 200px;
  height: 65px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #f9f8fc;
  border: 2.5px solid #0e172c;
  transition: background-color 2.2s;
  transition-duration: 3s;
  transition: 1.5s;
}

.fixedclear .button-c:hover {
  position: absolute;
  top: 30px;
  background-color: yellow;
}

.fixedclear .button-c{
  font-family: 'Cardo', Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: #0e172c;
  transition: 1.5s;
}

.fixedclear.button-c a:hover {
  letter-spacing: 5px;
}


#mainsearch {display:flex;
justify-content: center;
flex-direction: column;
width:100%}

#searchformbox{
  margin:0 auto;
}

#resultsbox{
  width:100%;
  margin:0 auto;
  display:flex;
  justify-content: space-evenly;
  font-family:'Cardo', Arial, Helvetica, sans-serif;
  font-size:16px;
}

#resultsbox li {
  list-style-image: url(/images/star.png)
}

#resultsbox li a {
  font-family: 'Cardo', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
}
#addbutton {
  background-color: white;
  font-family: 'Cardo', Arial, Helvetica, sans-serif;
  font-size: 24px;
  border: solid 2px black;
  border-radius: 50px;
  outline: 0;
  height:40px;
  position: relative;
  cursor: pointer;
}

#addbutton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellow;
  z-index: -1;
  border-radius: 50px;
  border: solid 2px rgb(136, 117, 117);
  transition: all 0.3s ease-in-out;
}

#addbutton::after {
  width: 90%;
  height: 90%;
}

#addbutton:hover::after {
  width: 100%;
  height: 100%;
  top: 0.5rem;
  left: 0.5rem;
}

#searchbutton{
  font-family: 'Cardo', Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: solid 2px black;
  border-radius: 50px;
  outline: 0;
  background-color: white;
  position: relative;
  cursor: pointer;
}

#userinput{
  font-family: 'Cardo', Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: solid 2px black;
  border-radius: 50px;
  outline: 0;
  background-color: white;
  position: relative;
  cursor: pointer;
  height:25px;
  width:350px;
}
